<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SkyFloatingLabelTextField.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SkyFloatingLabelTextFieldExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F547D4AB1C3BEA8F0075A0C2</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>F56289171C3BE3A20082D9A6</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>F56289211C3BE3A20082D9A6</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
